# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.env
*.env

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# pipenv
Pipfile.lock

# poetry
poetry.lock
