<aside
  style="width: 220px; background-color: #f3f4f6; padding: 1rem; height: 100vh"
>
  <ul style="list-style: none; padding: 0">
    {% comment %} <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'transactions' %}">Transactions</a></li>
    <li><a href="{% url 'ticket_purchases' %}">Ticket Purchases</a></li>
    <li><a href="{% url 'customers' %}">Customers</a></li>
    <li><a href="{% url 'showrooms' %}">Showrooms</a></li>
    <li><a href="{% url 'movies' %}">Movies</a></li>
    <li><a href="{% url 'accounts' %}">Accounts</a></li> {% endcomment %}

    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'transactions' %}">Transactions</a></li>
    <li><a href="{% url 'ticket_purchases' %}">Ticket Purchases</a></li>
    <li><a href="{% url 'customers' %}">Customers</a></li>
    <li><a href="{% url 'showrooms' %}">Showrooms</a></li>
    <li><a href="{% url 'movies' %}">Movies</a></li>


    <li><a href="#">Accounts</a></li>
  </ul>
</aside>
